<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>sophie</string>
        <key>ProgramArguments</key>
        <array>
            <string>/path/to/python</string>
            <string>/path/to/sophie-alert/main.py</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>08</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/path/to/sophie-alert/stdout.log</string>
        <key>StandardErrorPath</key>
        <string>/path/to/sophie-alert/stderr.log</string>
    </dict>
</plist>